<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <h1>@<%= @user.username %>'s Profile & Tweets</h1>
    <p>
      <% if current_user.following.include?(@user.id) %>
        <%= link_to "Following", unfollow_path(id: @user.id),
	    class: "btn btn-primary", id: "unfollow_btn" %>
	  
      <% else %>
        <% if current_user.id != @user.id %>
          <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="well">
      <p><h2><%= @user.name %></h2></p>
      <p><strong>Location:</strong> <%= @user.location %></p>
      <p><h3>Bio</h3></p>
      <p><%= @user.bio %></p>
    </div>
  </div>

  <div class="col-md-6">
    <% if @user.tweets.any? %>
      <% @user.tweets.each do |tweet| %>
        <%= render 'tweets/tweet_panel', { tweet: tweet } %>
      <% end %>
    <% else %>
      <div class="panel">
	@<%= @user.username %> has no tweets to show. :(
      </div>
    <% end %>
      
  </div>

  <div class="col-md-3">
    <div class="well">
      <h2>Who to follow</h2>
      <ul>
	<li>A celebrity</li>
	<li>A politician</li>
	<li>Your cat</li>
      </ul>
    </div>
  </div>
</div>
